USE [master]
GO
/****** Object:  Database [EgyptTrades]    Script Date: 23/10/2024 12:55:35 PM ******/
CREATE DATABASE [EgyptTrades]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EgyptTrades', FILENAME = N'D:\x\SQLserver\MSSQL16.MSSQLSERVER\MSSQL\DATA\EgyptTrades.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EgyptTrades_log', FILENAME = N'D:\x\SQLserver\MSSQL16.MSSQLSERVER\MSSQL\DATA\EgyptTrades_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EgyptTrades].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EgyptTrades]
GO
/****** Object:  Table [dbo].[geo_distro]    Script Date: 23/10/2024 12:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geo_distro](
	[geo_tid] [tinyint] NOT NULL,
	[rid] [tinyint] NOT NULL,
	[year] [smallint] NOT NULL,
	[import_value] [float] NOT NULL,
	[export_value] [float] NOT NULL,
 CONSTRAINT [PK_geo_distro] PRIMARY KEY CLUSTERED 
(
	[geo_tid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[geo_regions]    Script Date: 23/10/2024 12:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geo_regions](
	[rid] [tinyint] NOT NULL,
	[region_ar] [nvarchar](50) NOT NULL,
	[region] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_geo_regions] PRIMARY KEY CLUSTERED 
(
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[manufacturing_stage]    Script Date: 23/10/2024 12:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manufacturing_stage](
	[stage_id] [tinyint] NOT NULL,
	[manu_stage] [nvarchar](50) NOT NULL,
	[manu_stage_ar] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_manufacturing_stage] PRIMARY KEY CLUSTERED 
(
	[stage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 23/10/2024 12:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[pid] [smallint] NOT NULL,
	[product] [nvarchar](100) NOT NULL,
	[sid] [smallint] NOT NULL,
	[manu_id] [tinyint] NOT NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sectors]    Script Date: 23/10/2024 12:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sectors](
	[sid] [smallint] NOT NULL,
	[sector] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_sectors] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trades]    Script Date: 23/10/2024 12:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trades](
	[id] [smallint] NOT NULL,
	[product_id] [smallint] NOT NULL,
	[year] [smallint] NOT NULL,
	[import] [float] NOT NULL,
	[export] [float] NOT NULL,
	[Surplus_Deficit] [float] NOT NULL,
 CONSTRAINT [PK_trades] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[year]    Script Date: 23/10/2024 12:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[year](
	[year] [smallint] NOT NULL,
 CONSTRAINT [PK_year] PRIMARY KEY CLUSTERED 
(
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[geo_distro] ([geo_tid], [rid], [year], [import_value], [export_value]) VALUES (1, 10, 2005, 11289.400390625, 6948)
INSERT [dbo].[geo_distro] ([geo_tid], [rid], [year], [import_value], [export_value]) VALUES (2, 10, 2006, 13005.5, 7440.60009765625)
INSERT [dbo].[geo_distro] ([geo_tid], [rid], [year], [import_value], [export_value]) VALUES (3, 10, 2007, 18007.400390625, 9808.2001953125)
GO
INSERT [dbo].[geo_regions] ([rid], [region_ar], [region]) VALUES (10, N'الإتحاد الاوروبى ', N'EU ')
INSERT [dbo].[geo_regions] ([rid], [region_ar], [region]) VALUES (20, N'الدول الاوروبية الأخرى ', N'Other European countries')
INSERT [dbo].[geo_regions] ([rid], [region_ar], [region]) VALUES (30, N'روسيا الإتحادية ودول الكومنولث المستقلة', N'Russian Federation & C.I.S.')
GO
INSERT [dbo].[manufacturing_stage] ([stage_id], [manu_stage], [manu_stage_ar]) VALUES (10, N' Fuel, Mineral Oils & Products', N'الوقود والزيوت المعدنية ومنتجاتها')
INSERT [dbo].[manufacturing_stage] ([stage_id], [manu_stage], [manu_stage_ar]) VALUES (20, N'Raw Materials', N'المواد الخام')
INSERT [dbo].[manufacturing_stage] ([stage_id], [manu_stage], [manu_stage_ar]) VALUES (30, N'Intermediate Goods', N'السلع الوسيطة')
GO
INSERT [dbo].[products] ([pid], [product], [sid], [manu_id]) VALUES (101, N'Crude oil', 100, 20)
INSERT [dbo].[products] ([pid], [product], [sid], [manu_id]) VALUES (102, N'Oil products', 100, 10)
INSERT [dbo].[products] ([pid], [product], [sid], [manu_id]) VALUES (103, N'Bunker and jet fuel', 100, 10)
GO
INSERT [dbo].[sectors] ([sid], [sector]) VALUES (100, N'oil merchandise')
INSERT [dbo].[sectors] ([sid], [sector]) VALUES (200, N'foodstuff merchandise')
INSERT [dbo].[sectors] ([sid], [sector]) VALUES (300, N'cereals merchandise')
GO
INSERT [dbo].[trades] ([id], [product_id], [year], [import], [export], [Surplus_Deficit]) VALUES (1, 101, 2005, 2844.199951171875, 3213.800048828125, 369.60000610351562)
INSERT [dbo].[trades] ([id], [product_id], [year], [import], [export], [Surplus_Deficit]) VALUES (2, 102, 2005, 2361.800048828125, 3218.60009765625, 856.79998779296875)
INSERT [dbo].[trades] ([id], [product_id], [year], [import], [export], [Surplus_Deficit]) VALUES (3, 103, 2005, 153.19999694824219, 981, 827.79998779296875)
GO
INSERT [dbo].[year] ([year]) VALUES (2005)
INSERT [dbo].[year] ([year]) VALUES (2006)
INSERT [dbo].[year] ([year]) VALUES (2007)
GO
ALTER TABLE [dbo].[geo_distro]  WITH CHECK ADD  CONSTRAINT [FK_geo_distro_geo_regions] FOREIGN KEY([rid])
REFERENCES [dbo].[geo_regions] ([rid])
GO
ALTER TABLE [dbo].[geo_distro] CHECK CONSTRAINT [FK_geo_distro_geo_regions]
GO
ALTER TABLE [dbo].[geo_distro]  WITH CHECK ADD  CONSTRAINT [FK_geo_distro_year] FOREIGN KEY([year])
REFERENCES [dbo].[year] ([year])
GO
ALTER TABLE [dbo].[geo_distro] CHECK CONSTRAINT [FK_geo_distro_year]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_manufacturing_stage] FOREIGN KEY([manu_id])
REFERENCES [dbo].[manufacturing_stage] ([stage_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_manufacturing_stage]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_sectors] FOREIGN KEY([sid])
REFERENCES [dbo].[sectors] ([sid])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_sectors]
GO
ALTER TABLE [dbo].[trades]  WITH CHECK ADD  CONSTRAINT [FK_trades_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([pid])
GO
ALTER TABLE [dbo].[trades] CHECK CONSTRAINT [FK_trades_products]
GO
ALTER TABLE [dbo].[trades]  WITH CHECK ADD  CONSTRAINT [FK_trades_year] FOREIGN KEY([year])
REFERENCES [dbo].[year] ([year])
GO
ALTER TABLE [dbo].[trades] CHECK CONSTRAINT [FK_trades_year]
GO
USE [master]
GO
